{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-4">¡Bienvenido a nuestra plataforma de gestión de tareas!</h1>
            <p class="lead">
                ¿Listo para mejorar tu productividad con Python? Nuestro sistema está construido con Django, un potente framework de Python para desarrollo web. Aquí puedes crear, actualizar y gestionar tus tareas de manera efectiva.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg" class="img-fluid rounded-circle" alt="Coding with Python">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg" alt="Python in the universe">
                <div class="card-body">
                    <h5 class="card-title">Python en el universo</h5>
                    <p class="card-text">Python es ampliamente utilizado en ciencia y astrofísica debido a su sintaxis simple y a las potentes bibliotecas científicas disponibles.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294_960_720.jpg" alt="Python and web development">
                <div class="card-body">
                    <h5 class="card-title">Python en desarrollo web</h5>
                    <p class="card-text">Con Django, Flask y más, Python facilita el desarrollo de aplicaciones web robustas y escalables.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" alt="Python in data science">
                <div class="card-body">
                    <h5 class="card-title">Python en ciencia de datos</h5>
                    <p class="card-text">Python es una de las herramientas más utilizadas en el mundo de la ciencia de datos y el aprendizaje automático.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
