{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
	<div class="card">
		<div class="card-header">
			<h2 class="card-title">Update Task</h2>
		</div>
		<div class="card-body">
			<form action="{% url 'update_task' task.id %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="title"><b>Title:</b></label>
					<input type="text" class="form-control" id="title" name="title" value="{{ task.title }}" required>
				</div>
				<div class="form-group">
					<label for="description"><b>Description:</b></label>
					<textarea class="form-control" id="description" name="description" rows="3" style="max-height: 300px;" required>{{ task.description }}</textarea>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="important" name="important" {% if task.important %} checked {% endif %}>
					<label class="form-check-label" for="important"><b>Important</b></label>
				</div>
				<button type="submit" class="btn btn-primary">Update Task</button>
			</form>
			<!-- Task Completed Form -->
			<form action="{% url 'complete_task' task.id %}" method="POST" style="display:inline;">
				{% csrf_token %}
				<button type="submit" class="btn btn-success mt-3">Task Completed</button>
			</form>
			<!-- Delete Form -->
			<form action="{% url 'delete_task' task.id %}" method="POST" style="display:inline;">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger mt-3">Delete Task</button>
			</form>

		</div>
	</div>
</div>

{% endblock %}

